@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap'); /* importa fonte verdana */

* { /* Reset de estilos: remove margens, preenchimentos, caixas de borda e decorações de texto padrão */

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

}

body { /* define todo o texto do body como verdana*/

    font-family: 'Verdana', sans-serif;

}


.cabecalho {
    display: flex; /*display: flex;: Indica que o elemento com a classe .cabecalho e seus filhos diretos serão tratados como itens de um contêiner flexível.*/
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px; /*: Esta propriedade define o preenchimento (espaço interno) do cabeçalho.*/
    height: 70px;
    background-color: #1c1c1c;
}

.cabecalho-imagem {

    height: 65px;
    width: 120px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cabecalho-menu {
    font-weight: bold;
}

.menu-item {

    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 25px;
    transition: background-color 0.3s ease; /* tempo que demora para transitar de cor, quando o mouse estiver por cima*/
}

.menu-item:hover {
    color: #d4d4d4;
}


.principal-box {

    height: 500px;

    display: flex;

}

#imagem-capa {

    background-image: url("/img/consultoria2.jpg");

    background-repeat: no-repeat;

    background-size: cover;

    width: 60%;

    height: 585px;



}

.principal-texto {

    display: flex;

    flex-direction: column;

    background-color: #002df7e6;  /*define o fundo da caixa*/

    color: #fff; /*cor do texto*/

    font-size: 20px;

    width: 55%;

    margin-top: 18%; /*distancia que fica do topo da página, 18% deixa centralizado na box central, na maioria dos monitores de computador */

    padding: 30px;


    height: auto; /*modifica a altura conforme o texto*/

    margin-left: 90%;

}

.conteudo-box {

    display: flex;

    gap: 30px; /* usada para definir a distância entre os itens dentro da caixa*/

    justify-content: center;

}

.secundario-box {

    margin-top: 5%;

    text-align: -webkit-center;

}

#inovacao,
#tecnologia,
#entrega {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 300px;
    font-weight: bold;
    color: #002df7e6;
    border: 1px solid;
    padding: 30px;
    border-radius: 10px;
}


#formulario {
    margin-top: 20px; /*não ficar grudado em outros conteúdos da página*/
    margin-bottom: 20px;
}

p {

    word-wrap: break-word;

    margin-top: 12px;

    color: #000;

}



footer {


    font-weight: bold;

    height: 35px;

    bottom: 0;

    line-height: 35px;

    text-align: center;

    background-color: #1c1c1c;

}

footer p {
    color: #ecf0f1;
}